<header>
    <div class="container main-header">
        <a href="index.html"><img src="../../../assets/img/Logo.png" class="logo" alt="logo game mania"></a>
        <nav id="menu" class="menu">
            <a routerLink="" target="_blank">Início</a>
            <a routerLink="/login" target="_blank">Entrar</a>
        </nav>
        <a href="#" id="bars" onclick="showMenu()">
            <img class="menu-icon" src="../../../assets/img/bars-solid.svg" alt="Icone do menu de barras">
        </a>
    </div>
    <div class="container-search-car">
        <div>
            <div class="search-product">
                <div>Buscar produtos</div>
                <img class="search-icon" src="../../../assets/img/magnifying-glass-solid.svg"
                    alt="Icone do menu de pesquisa">
            </div>
        </div>
        <div>
            <div class="product-car">
                R$ 0,00
                <img class="cart-icon" src="../../../assets/img/cart-shopping-solid.svg" alt="Icone do carrinho de compras">
            </div>
        </div>
    
    </div>
    <div class="bar"></div>
</header>