<main>
    <section class="container">
        <div class="products-title">PRODUTOS GAMER</div>
        <div id="cardList" class="card-list">
            <div id="product1" class="card">
                <div class="product1 product-global"></div>
                <h3>Gamer 1</h3>
                <p>PC Gamer Completo</p>
                <p><b>R$ 11.000.00</b></p>
                <p><b>10x</b> 1.100.00</p>
                <div class="card-button"><a href="#" target="_blank">Comprar</a></div>
            </div>
            <div id="product2" class="card">
                <div class="product2 product-global"></div>
                <h3>Gamer 2</h3>
                <p>PC Gamer Completo</p>
                <p><b>R$ 11.000.00</b></p>
                <p><b>10x</b> 1.100.00</p>
                <div class="card-button"><a href="#" target="_blank">Comprar</a></div>
            </div>
            <div id="product3" class="card">
                <div class="product3 product-global"></div>
                <h3>Gamer 3</h3>
                <p>PC Gamer Completo</p>
                <p><b>R$ 11.000.00</b></p>
                <p><b>10x</b> 1.100.00</p>
                <div class="card-button"><a href="#" target="_blank">Comprar</a></div>
            </div>
            <div id="product4" class="card">
                <div class="product4 product-global"></div>
                <h3>Gamer 4</h3>
                <p>PC Gamer Completo</p>
                <p><b>R$ 11.000.00</b></p>
                <p><b>10x</b> 1.100.00</p>
                <div class="card-button"><a href="#" target="_blank">Comprar</a></div>
            </div>
        </div>
    </section>
    <div class="carousel">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <div id="product1" class="card" alt="First slide">
                        <div class="product1 product-global"></div>
                        <h3>Gamer 1</h3>
                        <p>PC Gamer Completo</p>
                        <p><b>R$ 11.000.00</b></p>
                        <p><b>10x</b> 1.100.00</p>
                        <div class="card-button"><a href="#" target="_blank">Comprar</a></div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <div id="product2" class="card" alt="Second slide">
                        <div class="product2 product-global"></div>
                        <h3>Gamer 2</h3>
                        <p>PC Gamer Completo</p>
                        <p><b>R$ 11.000.00</b></p>
                        <p><b>10x</b> 1.100.00</p>
                        <div class="card-button"><a href="#" target="_blank">Comprar</a></div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <div id="product3" class="card" alt="Third slide">
                        <div class="product3 product-global"></div>
                        <h3>Gamer 3</h3>
                        <p>PC Gamer Completo</p>
                        <p><b>R$ 11.000.00</b></p>
                        <p><b>10x</b> 1.100.00</p>
                        <div class="card-button"><a href="#" target="_blank">Comprar</a></div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <div id="product4" class="card" alt="Fourth slide">
                        <div class="product4 product-global"></div>
                        <h3>Gamer 4</h3>
                        <p>PC Gamer Completo</p>
                        <p><b>R$ 11.000.00</b></p>
                        <p><b>10x</b> 1.100.00</p>
                        <div class="card-button"><a href="#" target="_blank">Comprar</a></div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</main>