<footer>
    <section class="container">
        <div class="footer-assets">
            <div class="img-mouse footer-items"></div>
            <div class="promotions footer-items">
                <h3>Promoções Exclusivas</h3>
                <div class="promotion-email">E-mail</div>
                <div class="social-media">
                    <h3>Redes Sociais</h3>
                    <a href="https://www.instagram.com/">
                        <img class="social-media-icon" src="../../../assets/img/instagram-brands.svg"
                            alt="Icone do Instagram">
                    </a>
                    <a href="https://www.facebook.com/">
                        <img class="social-media-icon" src="../../../assets/img/facebook-f-brands.svg"
                            alt="Icone do Facebook">
                    </a>
                    <a href="https://twitter.com/">
                        <img class="social-media-icon" src="../../../assets/img/twitter-brands.svg"
                            alt="Icone do Twitter">
                    </a>
                    <a href="https://www.youtube.com/">
                        <img class="social-media-icon" src="../../../assets/img/youtube-brands.svg"
                            alt="Icone do Youtube">
                    </a>
                </div>
            </div>
            <div class="contact-info footer-items">
                <h3>Atendimento</h3>
                <p>
                    Telefone: (11) 3889-8388 <br>
                    Atendimento de segunda à sexta de 9h às 18h e sábado de 9h às 14h.
                </p>
                <p>
                    Endereço: Rua Julio Costa, 23, Centro, São Paulo, SP, 23520-223.
                </p>
            </div>
            <div class="about footer-items">
                <h3>Institucional</h3>
                <div class="buttons-about"><a href="#" target="_blank">Empresa</a></div>
                <div class="buttons-about"><a href="#" target="_blank">Compra Segura</a></div>
                <div class="buttons-about"><a href="#" target="_blank">Contato</a></div>
                <div class="buttons-about"><a href="#" target="_blank">Nosso Blog</a></div>
            </div>
            <div class="img-keyboard footer-items"></div>
        </div>
    </section>
</footer>
